httpx
rich
ipykernel # for ipython3 command
fastapi[standard]
uvicorn[standard]

# # manual build of vllm for now:
# vllm # for /consolidated_edits

yapf # my formatter

rope # for refactoring in nvim
